.css_id_proyecto_label {text-align:;}
.css_id_proyecto_line {text-align:left;}
.css_id_proyecto_obj {text-align:left;}
.css_nombre_proyecto_label { }
.css_nombre_proyecto_line { }
.css_nombre_proyecto_obj { }
.css_tiempo_estimado_label {text-align:;}
.css_tiempo_estimado_line {text-align:left;}
.css_tiempo_estimado_obj {text-align:left;}
.css_id_responsable_label {text-align:;}
.css_id_responsable_line {text-align:left;}
.css_id_responsable_obj {text-align:left;}
.css_id_categoria_label {text-align:;}
.css_id_categoria_line {text-align:left;}
.css_id_categoria_obj {text-align:left;}
.css_fecha_creacion_label { }
.css_fecha_creacion_line { }
.css_fecha_creacion_obj { }
.css_id_cliente_label {text-align:;}
.css_id_cliente_line {text-align:left;}
.css_id_cliente_obj {text-align:left;}
