.css_id_cliente_label {text-align:;}
.css_id_cliente_line {text-align:left;}
.css_id_cliente_obj {text-align:left;}
.css_empresa_label { }
.css_empresa_line { }
.css_empresa_obj { }
.css_nombre_contacto_label { }
.css_nombre_contacto_line { }
.css_nombre_contacto_obj { }
.css_telefono_label {text-align:;}
.css_telefono_line {text-align:left;}
.css_telefono_obj {text-align:left;}
.css_correo_electronico_label { }
.css_correo_electronico_line { }
.css_correo_electronico_obj { }
