.css_id_responsable_label {text-align:;}
.css_id_responsable_line {text-align:left;}
.css_id_responsable_obj {text-align:left;}
.css_nombre_responsable_label { }
.css_nombre_responsable_line { }
.css_nombre_responsable_obj { }
.css_tel_responsable_label {text-align:;}
.css_tel_responsable_line {text-align:left;}
.css_tel_responsable_obj {text-align:left;}
