.css_id_servicio_label {text-align:;}
.css_id_servicio_line {text-align:left;}
.css_id_servicio_obj {text-align:left;}
.css_descripcion_servicio_label { }
.css_descripcion_servicio_line { }
.css_descripcion_servicio_obj { }
.css_id_proyecto_label {text-align:;}
.css_id_proyecto_line {text-align:left;}
.css_id_proyecto_obj {text-align:left;}
.css_fecha_contratacion_label { }
.css_fecha_contratacion_line { }
.css_fecha_contratacion_obj { }
.css_id_proveedor_label {text-align:;}
.css_id_proveedor_line {text-align:left;}
.css_id_proveedor_obj {text-align:left;}
