.css_id_computadora_label {text-align:;}
.css_id_computadora_line {text-align:left;}
.css_id_computadora_obj {text-align:left;}
.css_id_proyecto_label {text-align:;}
.css_id_proyecto_line {text-align:left;}
.css_id_proyecto_obj {text-align:left;}
.css_fecha_asignacion_label { }
.css_fecha_asignacion_line { }
.css_fecha_asignacion_obj { }
