.css_id_computadora_label {text-align:;}
.css_id_computadora_line {text-align:left;}
.css_id_computadora_obj {text-align:left;}
.css_marca_label { }
.css_marca_line { }
.css_marca_obj { }
.css_modelo_label { }
.css_modelo_line { }
.css_modelo_obj { }
.css_memoria_gb_label {text-align:;}
.css_memoria_gb_line {text-align:left;}
.css_memoria_gb_obj {text-align:left;}
.css_almacenamiento_gb_label {text-align:;}
.css_almacenamiento_gb_line {text-align:left;}
.css_almacenamiento_gb_obj {text-align:left;}
.css_id_tipocomputadora_label { }
.css_id_tipocomputadora_line {text-align:left;}
.css_id_tipocomputadora_obj {text-align:left;}
