.css_id_estatus_label {text-align:;}
.css_id_estatus_line {text-align:left;}
.css_id_estatus_obj {text-align:left;}
.css_fecha_reporte_label { }
.css_fecha_reporte_line { }
.css_fecha_reporte_obj { }
.css_avance_label {text-align:;}
.css_avance_line {text-align:left;}
.css_avance_obj {text-align:left;}
.css_finalizado_label {text-align:;}
.css_finalizado_line {text-align:left;}
.css_finalizado_obj {text-align:left;}
.css_id_proyecto_label {text-align:;}
.css_id_proyecto_line {text-align:left;}
.css_id_proyecto_obj {text-align:left;}
